APP_PORT=8080
MYSQL_DATABASE=daylog
MYSQL_USER=daylog
MYSQL_PASSWORD=change-this-database-password
MYSQL_ROOT_PASSWORD=change-this-root-password
DAY_LOG_REMEMBER_ME_KEY=change-this-remember-me-key
DAY_LOG_MAIL_FROM_ADDRESS=no-reply@example.com
DAY_LOG_ALERT_WEBHOOK_URL=
