[Unit]
Description=Schedule Day Log MySQL backup

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=day-log-backup.service

[Install]
WantedBy=timers.target
